

:not(.has-background) .section-background {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }

 .headerlogo {
    max-width:200px;
 } 

 .page-section .section-border {
    background-color: #101010;
 }

 .button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #fdfdfd;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #ffffff00;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
    margin-top:20px;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: white;
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: white;
    color: #fff;
  }

  p, a, #siteWrapper .sqs-button-element--primary {
    font-family: Arial, sans-serif;
        
  }

  .fe-block-3df151ad28dbd4006246 {
    min-width:100%;
  }



#yui_3_17_2_1_1678066631960_75 {
    margin-bottom:50px;
    padding-bottom:100px;
}

.fe-block-16728365ac9a4de569d5 {
    grid-area: 35/2/32/10;
}

@media (min-width: 768px)
{.fe-block-3df151ad28dbd4006246 {
    grid-area: 29/8/31/20!important;
}
}

@media (min-width: 768px)
{
    .fe-block-yui_3_17_2_1_1675915519181_17150 {
    grid-area: 27/9/30/19!important
}
}


.fe-block-16728365ac9a4de569d5 {
    grid-area: 32/2/32/10!important
}

@media (min-width: 768px) {
    .fe-block-16728365ac9a4de569d5 {
        grid-area: 33/9/33/19!important
}
}

.sqsrte-large, p, .sqsrte-small {
    margin: 1.1rem 0;
}

#WEB3_CONNECT_MODAL_ID {
    z-index:9999;
    position: relative;
}

.section-border {
    position:fixed;
}
