#hero-slider img {
  width: 100%;
  height: auto;
  display: block;
}

#marquee {
  will-change: transform;
  transition: 2s transform linear;
}

#burn-form > div {
  margin-top: 30px;
}
#burn-form #status {
  font-size: 1.2vw;
  line-height: 1.5;
}
@media (max-width: 767px) {
  #burn-form #status {
    font-size: 14px;
    margin-top: 20px;
  }
}

.button-primary {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("/images/burn.svg") no-repeat;
  filter: grayscale(0.4);
  background-size: 100% auto;
  background-position: center;
  border: 2px solid #fff;
  display: block;
  color: #fff;
  text-align: center;
  padding: 2vw;
  font-size: 2vw;
  margin: 2vw 0;
}
.button-primary:hover {
  filter: grayscale(0);
}
@media (max-width: 767px) {
  .button-primary {
    padding: 20px;
    font-size: 16px;
  }
}

.ft-logo-desktop,
.ft-logo-desktop-mobile {
  border-radius: 100%;
  overflow: hidden;
  border: 4px solid #fff;
}

#wpstats {
  display: none;
}

/*! CSS Used from: http://squad.agency/wp-includes/css/dist/block-library/style.min.css?ver=6.0.3 ; media=all */
ul {
  box-sizing: border-box;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #ddd;
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/*! CSS Used from: Embedded */
body {
  --wp--preset--color--black: #000000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--white: #fff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--color--dark-gray: #1a1a1a;
  --wp--preset--color--medium-gray: #686868;
  --wp--preset--color--light-gray: #e5e5e5;
  --wp--preset--color--blue-gray: #4d545c;
  --wp--preset--color--bright-blue: #007acc;
  --wp--preset--color--light-blue: #9adffd;
  --wp--preset--color--dark-brown: #402b30;
  --wp--preset--color--medium-brown: #774e24;
  --wp--preset--color--dark-red: #640c1f;
  --wp--preset--color--bright-red: #ff675f;
  --wp--preset--color--yellow: #ffef8e;
  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(
      135deg,
      rgba(6, 147, 227, 1) 0%,
      rgb(155, 81, 224) 100%
  );
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
      135deg,
      rgb(122, 220, 180) 0%,
      rgb(0, 208, 130) 100%
  );
  --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(
      135deg,
      rgba(252, 185, 0, 1) 0%,
      rgba(255, 105, 0, 1) 100%
  );
  --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(
      135deg,
      rgba(255, 105, 0, 1) 0%,
      rgb(207, 46, 46) 100%
  );
  --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(
      135deg,
      rgb(238, 238, 238) 0%,
      rgb(169, 184, 195) 100%
  );
  --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(
      135deg,
      rgb(74, 234, 220) 0%,
      rgb(151, 120, 209) 20%,
      rgb(207, 42, 186) 40%,
      rgb(238, 44, 130) 60%,
      rgb(251, 105, 98) 80%,
      rgb(254, 248, 76) 100%
  );
  --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
  --wp--preset--gradient--blush-bordeaux: linear-gradient(
      135deg,
      rgb(254, 205, 165) 0%,
      rgb(254, 45, 45) 50%,
      rgb(107, 0, 62) 100%
  );
  --wp--preset--gradient--luminous-dusk: linear-gradient(
      135deg,
      rgb(255, 203, 112) 0%,
      rgb(199, 81, 192) 50%,
      rgb(65, 88, 208) 100%
  );
  --wp--preset--gradient--pale-ocean: linear-gradient(
      135deg,
      rgb(255, 245, 203) 0%,
      rgb(182, 227, 212) 50%,
      rgb(51, 167, 181) 100%
  );
  --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
  --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
  --wp--preset--duotone--dark-grayscale: url("http://squad.agency/#wp-duotone-dark-grayscale");
  --wp--preset--duotone--grayscale: url("http://squad.agency/#wp-duotone-grayscale");
  --wp--preset--duotone--purple-yellow: url("http://squad.agency/#wp-duotone-purple-yellow");
  --wp--preset--duotone--blue-red: url("http://squad.agency/#wp-duotone-blue-red");
  --wp--preset--duotone--midnight: url("http://squad.agency/#wp-duotone-midnight");
  --wp--preset--duotone--magenta-yellow: url("http://squad.agency/#wp-duotone-magenta-yellow");
  --wp--preset--duotone--purple-green: url("http://squad.agency/#wp-duotone-purple-green");
  --wp--preset--duotone--blue-orange: url("http://squad.agency/#wp-duotone-blue-orange");
  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
  --wp--preset--font-size--x-large: 42px;
}

/*! CSS Used from: http://squad.agency/wp-content/themes/twentysixteen/style.css?ver=6.0.3 ; media=all */
body {
  margin: 0;
}

footer,
header,
section {
  display: block;
}

a {
  background-color: transparent;
}

img {
  border: 0;
}

input {
  color: inherit;
  font: inherit;
  margin: 0;
}

input {
  max-width: 100%;
}

input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

body,
input {
  color: #1a1a1a;
  font-family: Merriweather, Georgia, serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

h2 {
  clear: both;
  font-weight: 700;
  margin: 0;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0 0 1.75em;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #1a1a1a;
}

ul {
  margin: 0 0 1.75em 1.25em;
  padding: 0;
}

ul {
  list-style: disc;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

input {
  line-height: normal;
}

input[type=submit] {
  background: #1a1a1a;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.84375em 0.875em 0.78125em;
  text-transform: uppercase;
}

input[type=submit]:hover,
input[type=submit]:focus {
  background: #007acc;
}

input[type=submit]:focus {
  outline: thin dotted;
  outline-offset: -4px;
}

input[type=text],
input[type=email] {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border-radius: 2px;
  color: #686868;
  padding: 0.625em 0.4375em;
  width: 100%;
}

input[type=text]:focus,
input[type=email]:focus {
  background-color: #fff;
  border-color: #007acc;
  color: #1a1a1a;
  outline: 0;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #686868;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.site .skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}

.site .skip-link:focus {
  clip: auto;
  height: auto;
  left: 6px;
  top: 7px;
  width: auto;
  z-index: 100000;
}

.site-content:before,
.site-content:after {
  content: "";
  display: table;
}

.site-content:after {
  clear: both;
}

.site {
  background-color: #fff;
}

.site-inner {
  margin: 0 auto;
  max-width: 1320px;
  position: relative;
}

.site-content {
  word-wrap: break-word;
}

@media screen and (min-width: 44.375em) {
  body:not(.custom-background-image):before,
  body:not(.custom-background-image):after {
    background: inherit;
    content: "";
    display: block;
    height: 21px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
  }
  body:not(.custom-background-image):before {
    top: 0;
  }
  body:not(.custom-background-image):after {
    bottom: 0;
  }
  .site {
    margin: 21px;
  }
}
@media screen and (min-width: 56.875em) {
  .site-content {
    padding: 0 4.5455%;
  }
}
@media print {
  form,
  input {
    display: none;
  }
  body {
    font-size: 12pt;
  }
  body,
  .site {
    background: none !important;
  }
  body {
    color: #1a1a1a !important;
  }
  a {
    color: #007acc !important;
  }
  .site {
    margin: 5%;
  }
  .site-inner {
    max-width: none;
  }
}
/*! CSS Used from: http://squad.agency/wp-content/themes/twentysixteen-child/style.css?ver=6.0.3 ; media=all */
body {
  background: #1b1515;
  overflow-x: hidden;
}

.site {
  background-color: #1b1515;
}

body,
input,
a {
  font-family: "Druk-WideMedium", sans-serif;
  font-size: 1.075vw;
  line-height: 1.429vw;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #f0f0f0;
}

.site {
  margin: 0;
}

body:not(.custom-background-image):before,
body:not(.custom-background-image):after {
  display: none;
}

.site-content {
  padding: 51px 20px 20px;
}

.site-inner {
  max-width: inherit;
}

p {
  margin: 0 0 30px;
}

section {
  margin-bottom: 20px !important;
  max-width: 1920px;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
}

a {
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;
  color: #f0f0f0 !important;
}

::selection {
  background: #ccc;
  color: #f0f0f0;
}

input[type=text],
input[type=email] {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  background: transparent !important;
  padding: 10px 10px 10px 0;
  font-family: "Druk-Bold", sans-serif;
  font-size: 2.6vw;
  line-height: normal;
  color: #f0f0f0 !important;
  border: none;
  border-bottom: 2px solid #f0f0f0 !important;
}

input[type=submit]:focus {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

::placeholder {
  padding: 0;
}

.hidden {
  display: none;
}

.btn-play:hover,
.slider-header .slider-img:hover {
  opacity: 0.8;
}

.txt-principal p {
  font-size: 1.67vw;
  line-height: 2.029vw;
}

#network > div.section-content > div.druk-wide-02 {
  max-width: 85vw;
  margin: auto;
}

.druk-wide-01 {
  font-family: "Druk-WideMedium", sans-serif;
  font-size: 1.075vw;
  line-height: 1.429vw;
}

.druk-wide-02,
.druk-wide-02 p {
  font-family: "Druk-WideMedium", sans-serif;
  font-size: 2.381vw;
  line-height: 2.679vw;
  text-align: center;
}

.druk-wide-03,
.druk-wide-03 p,
.druk-wide-03 a {
  font-family: "Druk-WideMedium", sans-serif;
  font-size: 2.381vw;
  line-height: 2.679vw;
  text-align: center;
}

.clientes-lista > img {
  max-width: 180px;
  margin-bottom: 20px;
}

.slider-casting .druk-wide-03 a {
  font-size: 2.03vw;
  line-height: 3.86vw;
}

.clients-section .clientes-lista p {
  font-size: 2.025vw;
  line-height: 3.86vw;
}

.druk-bold-01 {
  font-family: "Druk-Bold", sans-serif;
  font-size: 9vw;
  line-height: 11.91vw;
}

.druk-bold-02,
.druk-bold-02 a {
  font-family: "Druk-Bold", sans-serif;
  font-size: 6.55vw;
  line-height: 5.9vw;
}

.druk-bold-03 {
  font-family: "Druk-Bold", sans-serif;
  font-size: 5.14vw;
  line-height: 5.86vw;
}

.uppercase {
  text-transform: uppercase;
}

.home-section-title {
  text-align: right;
  grid-column: span 6;
  margin-top: 13px;
  margin-bottom: 5px;
}

.home-section-subtitle {
  grid-column: span 6;
  position: relative;
}

.home-section-subtitle p {
  position: absolute;
  bottom: 2.5vw;
  margin-bottom: 0;
  font-size: 1.075vw;
  line-height: 1.429vw;
}

.header-desktop {
  display: block;
}

.header-mobile,
.mobile-menu-container {
  display: none;
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 20;
  background: #1b1515;
  height: 55px;
}

header .menu {
  display: flex;
  justify-content: space-between;
  width: 33.7vw;
  padding: 15px 0 0 20px;
}
header .menu li {
  margin-right: 3vw;
}
header .menu li a {
  white-space: nowrap;
}

header .menu a {
  text-transform: uppercase;
}

.btn-shop {
  position: absolute;
  right: 20px;
  top: 15px;
  display: none;
}

.btn-shop:hover {
  padding-right: 0;
}

.logo img {
  width: 100%;
}

.slick-slide {
  outline: none;
}

section {
  margin: 0 -20px 0 !important;
  padding: 0 20px;
}
section:not(.no-border) {
  border-bottom: solid 1px #f0f0f0;
}

section > div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
}

.header-bottom .logo {
  grid-column: span 5;
  margin-top: 4px;
}

.header-bottom .slider-header {
  grid-column: span 7;
  overflow-x: hidden;
}

.slider-header {
  padding-top: 5px;
}

.slider-header .slider-img {
  display: block;
  width: 65vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider-header .slider-item .druk-wide-01 {
  margin-top: 5px;
}

.txt-principal {
  grid-column: span 12;
  margin: 41px 0 22px;
}

.slider-casting-section {
  border-bottom: none;
}

.slider-casting-container,
.slider-journal-container {
  display: block;
}

.slider-casting {
  margin: 0 -10px;
}

.slider-casting .slider-item {
  padding: 0 10px;
}

.arrow-right {
  background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-arrow-right.svg) no-repeat;
  background-size: contain;
  background-position: right;
  width: 12.3vw;
  height: 7.2vw;
}

.arrow-left {
  background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-arrow-left.svg) no-repeat;
  background-size: contain;
  background-position: right;
  width: 12.3vw;
  height: 7.2vw;
}

.slick-disabled {
  display: none !important;
}

.slider .arrow-right {
  position: absolute;
  right: 20px;
  top: -10vw;
}

.slider .arrow-left {
  position: absolute;
  left: 20px;
  top: -10vw;
}

.slider {
  position: relative;
}

.slider-casting .slider-item {
  position: relative;
}

.slider-casting .slider-item .slider-img {
  width: 31.48vw;
  height: 44.82vw;
  display: block;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 33.3vw;
  display: none;
  z-index: 10;
}

.slider-casting .slider-item:nth-child(even) .slider-img {
  left: calc(33.3vw - 1px);
}

.slider-casting .slider-item-3rd .slider-img,
.slider-casting .slider-item-5th .slider-img {
  left: calc(-33.3vw + 10px);
}

.music-section {
  padding-top: 50px;
}

.music-block {
  margin-right: 20px;
}

.music-container {
  border-top: solid 1px #f0f0f0;
  border-bottom: solid 1px #f0f0f0;
  margin: 0 -20px;
  padding: 2px 20px 0;
  outline: none !important;
  flex-wrap: nowrap;
  display: flex;
  gap: 30px;
  margin-right: 20px;
}

.music-email,
.music-right {
  grid-column: span 6;
}

.music-right {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.btn-find-more:hover {
  padding-right: 8px;
}

.music-show {
  margin-top: 13px;
  white-space: nowrap;
}

.btn-play {
  background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-play.svg) no-repeat;
  background-size: contain;
  width: 3.1vw;
  height: 3.99vw;
  margin-top: 0.836vw;
}

.network-section {
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .network-section .section-header {
    display: flex;
    flex-direction: column;
  }
  .network-section .section-header .home-section-title {
    text-align: left;
  }
  .network-section .section-header .home-section-title p {
    position: static !important;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .network-section .section-header .home-section-subtitle {
    text-align: left;
  }
  .network-section .section-header .home-section-subtitle p {
    position: static !important;
    font-size: 16px;
    width: 100%;
    margin-bottom: 40px;
  }
}

.network-section .section-content {
  display: block;
}

.network-section .home-section-subtitle p {
  margin-bottom: 2px;
}

.slider-journal-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.slider-journal-section .burn-img {
  margin-top: 40px;
}

.slider-journal .slide-content {
  display: grid !important;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
}

.slide-left,
.slide-right {
  grid-column: span 6;
}

.slide-right > div {
  padding: 100px 30px;
}

.slide-right p:last-child {
  margin-bottom: 0;
}

.slider-journal .slider-img {
  width: 100%;
  height: 30.89vw;
  display: block;
  background-size: cover;
  background-position: center;
  margin-top: 4px;
}

.slider-journal h2 {
  text-align: right;
}

.slider-journal h2 a {
  height: 10px;
}

.slider-journal h2 a:hover {
  padding-right: 0;
  padding-left: 10px;
}

.clients-section {
  border: none;
}

.clients-section .section-content {
  display: block;
  padding: 0 20px;
}

.clientes-lista p {
  column-count: 3;
  column-gap: 20px;
}

.ft-logo-desktop-mobile {
  display: none;
}

.ft-logo-desktop {
  display: block;
  width: 100%;
}

.footer {
  display: flex;
  position: relative;
  overflow-y: hidden;
  padding: 20px 200px 20px 20px;
  margin-top: 50px;
  border-top: solid 1px #f0f0f0;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer .druk-bold-03 {
  grid-column: span 6;
  font-size: 5.4vw;
  position: relative;
}

.ft-contact p {
  margin: 2.3vw 0 0;
}
.ft-contact a {
  font-size: 5vw;
  font-family: "Druk-Bold", sans-serif;
}
@media (max-width: 767px) {
  .ft-contact a {
    font-size: 23px;
  }
}

.ft-social {
  margin-top: 1vw;
  text-align: right;
}
@media (max-width: 767px) {
  .ft-social {
    padding-top: 10px;
  }
}
.ft-social svg {
  width: 2vw;
  height: auto;
}
@media (max-width: 767px) {
  .ft-social svg {
    width: 40px;
  }
}

.ft-social a {
  margin-left: 1.2vw;
  margin-top: 1vw;
  display: inline-block;
}

.ft-social a:hover {
  opacity: 0.8;
  padding-right: 0;
}

.ft-logo {
  position: absolute;
  right: 20px;
  margin-top: -8.9vw;
  background: #1b1515;
  border-radius: 50%;
  width: 7.03vw;
}
@media (max-width: 767px) {
  .ft-logo {
    width: 70px !important;
    height: 70px !important;
  }
}

.mc4wp-form-fields input[type=submit] {
  background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-arrow-news.svg) no-repeat right center !important;
  background-size: 8vw !important;
  position: absolute;
  right: 0.3vw;
  top: 1.2vw;
  display: block;
  width: 8vw;
  height: 4vw;
  cursor: pointer;
  opacity: 0;
}

.credits {
  border-top: solid 1px #f0f0f0;
  padding: 11px 20px;
}

.credits span {
  grid-column: span 4;
}

.btn-voltar {
  background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-close.svg) no-repeat;
  background-size: contain;
  height: 7.03vw;
  width: 7.03vw;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 1024px) {
  a.music-email.druk-bold-03,
  a.btn-find-more.druk-bold-03 {
    font-size: 4.7vw;
  }
  .music-show {
    margin-top: 7px;
  }
}
@media only screen and (max-width: 768px) {
  body,
  input,
  a,
  .druk-wide-01 {
    font-size: 14px;
    line-height: 17px;
  }
  p {
    margin: 0 0 20px;
  }
  .druk-wide-02,
  .druk-wide-02 p,
  .txt-principal p {
    font-size: 14px;
    line-height: 17px;
  }
  .druk-wide-03,
  .druk-wide-03 p,
  .druk-wide-03 a,
  .slider-casting .druk-wide-03 a {
    font-size: 18px;
    line-height: 26px;
  }
  .druk-bold-01 {
    font-size: 63px;
    line-height: 72px;
  }
  .druk-bold-02,
  .druk-bold-02 a {
    font-family: "Druk-Bold", sans-serif;
    font-size: 38px;
    line-height: 34px;
  }
  .clients-section .clientes-lista p {
    font-size: 16px;
    line-height: 24px;
  }
  .home-section-subtitle p,
  .home-section-subtitle a {
    font-size: 8px;
    line-height: 12px;
    width: 90px;
    bottom: 18px;
  }
  .header-desktop {
    display: none;
  }
  .header-mobile,
  .mobile-menu-container {
    display: block;
  }
  .header-container {
    height: 35px;
  }
  .header-mobile > .btn-menu {
    margin: 10px;
  }
  .mobile-menu-container {
    position: fixed;
    width: 100%;
    z-index: 50;
    background: #1b1515;
    height: 100vh;
    top: -110vh;
    padding: 50px;
    transition: 0.5s;
    box-sizing: border-box;
  }
  .mobile-menu-container ul {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu-container ul li {
    width: 100%;
  }
  .mobile-menu-container ul a {
    white-space: nowrap;
  }
  .mobile-menu-container.active {
    top: 0;
  }
  .mobile-menu-container .btn-voltar {
    width: 40px;
    height: 40px;
    right: 30px;
    top: 30px;
  }
  .mobile-menu-container .logo {
    margin-top: 40px;
  }
  .mobile-menu-container .btn-shop {
    position: relative;
    right: inherit;
    top: inherit;
  }
  .mobile-menu-container .menu a {
    text-transform: uppercase;
  }
  .mobile-menu * {
    line-height: 26px;
  }
  .site-content {
    padding: 31px 10px 10px;
  }
  section > div {
    grid-column-gap: 10px;
  }
  .header-bottom > .section-content {
    display: block;
  }
  .header-bottom .logo {
    position: relative;
    z-index: 5;
  }
  .header-bottom .logo a {
    pointer-events: none;
  }
  .header-bottom .slider-header {
    margin-top: -40px;
  }
  .slider-header .slider-img {
    height: 111vw;
  }
  .slider-header .slider-item .druk-wide-01 {
    margin-top: 0px;
  }
  .slider-header .slider-item .druk-wide-01 a {
    font-size: 9px;
  }
  .btn-voltar {
    background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-close-mobile.svg) no-repeat;
    background-size: contain;
    width: 45px;
    height: 48px;
  }
  .arrow-right {
    background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-arrow-right-mobile.svg) no-repeat;
    background-size: contain;
    width: 81px;
    height: 48px;
  }
  .arrow-left {
    background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-arrow-left-mobile.svg) no-repeat;
    background-size: contain;
    width: 81px;
    height: 48px;
  }
  .slider .arrow-right {
    right: 10px;
    top: -66px;
  }
  .slider .arrow-left {
    top: -66px;
    left: 10px;
  }
  .music-section {
    padding-top: 25px;
    margin-bottom: 10px !important;
  }
  .music-email {
    font-size: 10.3vw;
    line-height: 14vw;
  }
  .music-ext {
    display: flex;
  }
  a.music-email.druk-bold-03 {
    font-size: 36px;
  }
  .slider-casting-section .home-section-subtitle {
    display: none;
  }
  .slider-casting-section > div {
    display: block;
  }
  .slider-casting-section .home-section-title {
    text-align: center;
  }
  .slider-journal .slide-content {
    display: block !important;
  }
  .slider-journal .slider-img {
    height: 90.13vw;
    margin-bottom: 13px;
  }
  .slider-journal-section > div {
    display: block;
  }
  .slider-journal-section .home-section-title {
    text-align: center;
  }
  .slider-journal h2 {
    padding-right: 0;
    text-align: center;
  }
  .slider-journal-section .slider .arrow-right {
    right: 0px;
  }
  .slider-journal-section .slider .arrow-left {
    left: 0px;
  }
  .clients-section .home-section-subtitle p {
    width: 140px;
  }
  .clients-section .section-content {
    padding: 0 10px;
  }
  .clientes-lista p {
    column-count: 2;
    column-gap: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .ft-logo-desktop-mobile {
    display: block;
  }
  .ft-logo-desktop {
    display: none;
  }
  .footer .druk-bold-03,
  ::placeholder {
    font-size: 28px;
  }
  .footer {
    margin: 30px 0 0;
    padding: 10px;
  }
  .ft-logo {
    right: 10px;
    margin-top: -100px;
  }
  .ft-contact {
    margin: 5px 0 0;
  }
  .ft-contact a {
    display: block;
    margin-top: -5px;
  }
  .ft-social a {
    margin-left: 0;
    margin-right: 7px;
    margin-top: 0;
  }
  .slider-casting .slider-item .slider-img {
    left: 0 !important;
    position: relative;
    width: calc(50% - 5px);
    height: 0;
    transition: 0.5s;
    display: block;
    margin-bottom: 5px;
  }
  .credits {
    padding: 11px 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0px;
    font-size: 10px;
  }
  .credits span {
    grid-column: span 1;
  }
  .credits a {
    font-size: 10px;
  }
}
/*! CSS Used from: http://squad.agency/wp-content/themes/twentysixteen-child/style.css?ver=6.0.3 ; media=all */
body {
  background: #1b1515;
  overflow-x: hidden;
  box-sizing: border-box;
}

.site {
  background-color: #1b1515;
}

body,
input,
a {
  font-family: "Druk-WideMedium", sans-serif;
  font-size: 1.075vw;
  line-height: 1.429vw;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #f0f0f0;
}

.site {
  margin: 0;
}

body:not(.custom-background-image):before,
body:not(.custom-background-image):after {
  display: none;
}

.site-content {
  padding: 51px 20px 20px;
}

.site-inner {
  max-width: inherit;
}

p {
  margin: 0 0 15px;
}

section {
  margin-bottom: 20px !important;
}

ul,
li {
  list-style: none;
  margin: 0;
}

a {
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;
  color: #f0f0f0 !important;
  box-sizing: border-box;
}

::selection {
  background: #ccc;
  color: #f0f0f0;
}

input[type=submit]:focus {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

::placeholder {
  padding: 0;
}

.hidden {
  display: none;
}

.btn-play:hover,
.slider-header .slider-img:hover {
  opacity: 0.8;
}

.txt-principal p {
  font-size: 1.67vw;
  line-height: 2.029vw;
}

.druk-wide-01 {
  font-family: "Druk-WideMedium", sans-serif;
  font-size: 1.075vw;
  line-height: 1.429vw;
}

.druk-wide-02,
.druk-wide-02 p {
  font-family: "Druk-WideMedium", sans-serif;
  font-size: 2vw;
  line-height: 4vw;
}

.druk-wide-03,
.druk-wide-03 p,
.druk-wide-03 a {
  font-family: "Druk-WideMedium", sans-serif;
  font-size: 2.381vw;
  line-height: 3.679vw;
}

.slider-casting .druk-wide-03 a {
  font-size: 2.03vw;
  line-height: 2.86vw;
}

.clients-section .clientes-lista p {
  font-size: 2.025vw;
  line-height: 3.86vw;
}

.druk-bold-01 {
  font-family: "Druk-Bold", sans-serif;
  font-size: 9vw;
  line-height: 11.91vw;
}

.druk-bold-02,
.druk-bold-02 a {
  font-family: "Druk-Bold", sans-serif;
  font-size: 6.55vw;
  line-height: 5.9vw;
}

.druk-bold-03 {
  font-family: "Druk-Bold", sans-serif;
  font-size: 5.14vw;
  line-height: 5.86vw;
}

.uppercase {
  text-transform: uppercase;
}

.home-section-title {
  text-align: right;
  grid-column: span 6;
  margin-top: 13px;
  margin-bottom: 5px;
}

.home-section-subtitle {
  grid-column: span 6;
  position: relative;
}

.home-section-subtitle p {
  position: absolute;
  bottom: 2.5vw;
  margin-bottom: 0;
  font-size: 1.075vw;
  line-height: 1.429vw;
}

.header-desktop {
  display: block;
}

.header-mobile,
.mobile-menu-container {
  display: none;
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 20;
  background: #1b1515;
  height: 55px;
}

header .menu {
  display: flex;
  justify-content: space-between;
  width: 33.7vw;
  padding: 15px 0 0 20px;
}

header .menu a {
  text-transform: uppercase;
}

.btn-shop {
  position: absolute;
  right: 20px;
  top: 15px;
  display: none;
}

.btn-shop:hover {
  padding-right: 0;
}

.logo img {
  width: 100%;
}

.slick-slide {
  outline: none;
}

section {
  margin: 0 -20px 0 !important;
  padding: 0 20px;
}
section:not(.no-border) {
  border-bottom: solid 1px #f0f0f0;
}

section > div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
}

.header-bottom .logo {
  grid-column: span 7;
  margin-top: 4px;
}

.header-bottom .slider-header {
  grid-column: span 5;
  overflow-x: hidden;
}

.slider-header {
  padding-top: 5px;
}

.slider-header .slider-img {
  display: block;
  width: 65vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider-header .slider-item .druk-wide-01 {
  margin-top: 5px;
}

.txt-principal {
  grid-column: span 12;
  margin: 41px 0 22px;
}

.slider-casting-section {
  border-bottom: none;
}

.slider-casting-container,
.slider-journal-container {
  display: block;
}

.slider-casting {
  margin: 0 -10px;
}

.slider-casting .slider-item {
  padding: 0 10px;
}

.arrow-right {
  background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-arrow-right.svg) no-repeat;
  background-size: contain;
  background-position: right;
  width: 12.3vw;
  height: 7.2vw;
}

.arrow-left {
  background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-arrow-left.svg) no-repeat;
  background-size: contain;
  background-position: right;
  width: 12.3vw;
  height: 7.2vw;
}

.slick-disabled {
  display: none !important;
}

.slider .arrow-right {
  position: absolute;
  right: 20px;
  top: -10vw;
}

.slider .arrow-left {
  position: absolute;
  left: 20px;
  top: -10vw;
}

.slider {
  position: relative;
}

.slider-casting .slider-item {
  position: relative;
}

.slider-casting .slider-item .slider-img {
  width: 31.48vw;
  height: 44.82vw;
  display: block;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 33.3vw;
  display: none;
  z-index: 10;
}

.slider-casting .slider-item:nth-child(even) .slider-img {
  left: calc(33.3vw - 1px);
}

.slider-casting .slider-item-3rd .slider-img,
.slider-casting .slider-item-5th .slider-img {
  left: calc(-33.3vw + 10px);
}

.music-section {
  padding-top: 50px;
}

.music-block {
  margin-right: 20px;
  display: flex;
}

.music-email,
.music-right {
  grid-column: span 6;
}

.music-right {
  display: flex;
  justify-content: space-between;
}

.btn-find-more {
  white-space: nowrap;
}

.btn-find-more:hover {
  padding-right: 8px;
}

.music-show {
  margin-top: 13px;
}

.btn-play {
  background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-play.svg) no-repeat;
  background-size: contain;
  width: 3.1vw;
  height: 3.99vw;
  margin-top: 0.836vw;
}

.network-section {
  padding-bottom: 50px;
}

.network-section .section-content {
  display: block;
}

.network-section .home-section-subtitle p {
  margin-bottom: 2px;
}

.slider-journal-section {
  padding-bottom: 50px;
}

.slider-journal .slide-content {
  display: grid !important;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
}

.slide-left,
.slide-right {
  grid-column: span 6;
}

.slide-right {
  margin-top: 5px;
}

.slide-right p:last-child {
  margin-bottom: 0;
}

.slider-journal .slider-img {
  width: 100%;
  height: 30.89vw;
  display: block;
  background-size: cover;
  background-position: center;
  margin-top: 4px;
}

.slider-journal h2 {
  text-align: right;
}

.slider-journal h2 a {
  height: 10px;
}

.slider-journal h2 a:hover {
  padding-right: 0;
  padding-left: 10px;
}

.clients-section {
  border: none;
}

.clients-section .section-content {
  display: block;
  padding: 0 20px;
}

.clientes-lista p {
  column-count: 3;
  column-gap: 20px;
}

.ft-logo-desktop-mobile {
  display: none;
}

.ft-logo-desktop {
  display: block;
  width: 100%;
}

.footer .druk-bold-03 {
  grid-column: span 6;
  font-size: 5.4vw;
  position: relative;
}

.ft-contact p {
  margin: 2.3vw 0 0;
}

.ft-social {
  margin-top: 1vw;
  text-align: right;
  grid-column: span 2;
}

.ft-social a {
  margin-left: 1.2vw;
  margin-top: 1vw;
  display: inline-block;
}

.ft-social a:hover {
  opacity: 0.8;
  padding-right: 0;
}

.ft-logo {
  position: absolute;
  right: 20px;
  margin-top: -8.9vw;
  background: #1b1515;
  border-radius: 50%;
  width: 7.03vw;
}

.mc4wp-form-fields input[type=submit] {
  background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-arrow-news.svg) no-repeat right center !important;
  background-size: 8vw !important;
  position: absolute;
  right: 0.3vw;
  top: 1.2vw;
  display: block;
  width: 8vw;
  height: 4vw;
  cursor: pointer;
  opacity: 0;
}

.credits span {
  grid-column: span 4;
}

.btn-voltar {
  background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-close.svg) no-repeat;
  background-size: contain;
  height: 7.03vw;
  width: 7.03vw;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 1024px) {
  a.music-email.druk-bold-03,
  a.btn-find-more.druk-bold-03 {
    font-size: 4.7vw;
  }
  .music-show {
    margin-top: 7px;
  }
}
@media only screen and (max-width: 768px) {
  body,
  input,
  a,
  .druk-wide-01 {
    font-size: 14px;
    line-height: 17px;
  }
  p {
    margin: 0 0 20px;
  }
  .druk-wide-02,
  .druk-wide-02 p,
  .txt-principal p {
    font-size: 14px;
    line-height: 17px;
  }
  .druk-wide-03,
  .druk-wide-03 p,
  .druk-wide-03 a,
  .slider-casting .druk-wide-03 a {
    font-size: 18px;
    line-height: 26px;
  }
  .druk-bold-02,
  .druk-bold-02 a {
    font-family: "Druk-Bold", sans-serif;
    font-size: 38px;
    line-height: 34px;
  }
  .clients-section .clientes-lista p {
    font-size: 16px;
    line-height: 24px;
  }
  .home-section-subtitle p,
  .home-section-subtitle a {
    font-size: 8px;
    line-height: 12px;
    width: 90px;
    bottom: 18px;
  }
  .header-desktop {
    display: none;
  }
  .header-mobile,
  .mobile-menu-container {
    display: block;
  }
  .header-container {
    height: 35px;
  }
  .header-mobile > .btn-menu {
    margin: 10px;
  }
  .mobile-menu-container .logo {
    margin-top: 40px;
  }
  .mobile-menu-container .btn-shop {
    position: relative;
    right: inherit;
    top: inherit;
  }
  .mobile-menu-container .menu a {
    text-transform: uppercase;
  }
  .mobile-menu * {
    line-height: 26px;
  }
  .site-content {
    padding: 31px 10px 10px;
  }
  section > div {
    grid-column-gap: 10px;
  }
  .header-bottom > .section-content {
    display: block;
  }
  .header-bottom .logo {
    position: relative;
    z-index: 5;
  }
  .header-bottom .logo a {
    pointer-events: none;
  }
  .header-bottom .slider-header {
    margin-top: -40px;
  }
  .slider-header .slider-img {
    height: 111vw;
  }
  .slider-header .slider-item .druk-wide-01 {
    margin-top: 0px;
  }
  .slider-header .slider-item .druk-wide-01 a {
    font-size: 9px;
  }
  .btn-voltar {
    background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-close-mobile.svg) no-repeat;
    background-size: contain;
    width: 45px;
    height: 48px;
  }
  .arrow-right {
    background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-arrow-right-mobile.svg) no-repeat;
    background-size: contain;
    width: 81px;
    height: 48px;
  }
  .arrow-left {
    background: url(http://squad.agency/wp-content/themes/twentysixteen-child/images/ico-arrow-left-mobile.svg) no-repeat;
    background-size: contain;
    width: 81px;
    height: 48px;
  }
  .slider .arrow-right {
    right: 10px;
    top: -66px;
  }
  .slider .arrow-left {
    top: -66px;
    left: 10px;
  }
  .music-section {
    padding-top: 25px;
    margin-bottom: 10px !important;
  }
  .music-email {
    font-size: 10.3vw;
    line-height: 14vw;
  }
  .music-ext {
    display: flex;
  }
  a.music-email.druk-bold-03 {
    font-size: 36px;
  }
  .slider-casting-section .home-section-subtitle {
    display: none;
  }
  .slider-casting-section > div {
    display: block;
  }
  .slider-casting-section .home-section-title {
    text-align: center;
  }
  .slider-journal .slide-content {
    display: block !important;
  }
  .slider-journal .slider-img {
    height: 90.13vw;
    margin-bottom: 13px;
  }
  .slider-journal-section > div {
    display: block;
  }
  .slider-journal-section .home-section-title {
    text-align: center;
  }
  .slider-journal h2 {
    padding-right: 0;
    text-align: center;
  }
  .slider-journal-section .slider .arrow-right {
    right: 0px;
  }
  .slider-journal-section .slider .arrow-left {
    left: 0px;
  }
  .clients-section .home-section-subtitle p {
    width: 140px;
  }
  .clients-section .section-content {
    padding: 0 10px;
  }
  .clientes-lista p {
    column-count: 2;
    column-gap: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .ft-logo-desktop-mobile {
    display: block;
  }
  .ft-logo-desktop {
    display: none;
  }
  .footer .druk-bold-03,
  ::placeholder {
    font-size: 28px;
  }
  .footer {
    margin: 30px 0 0;
    padding: 10px;
  }
  .ft-logo {
    right: 10px;
    margin-top: -100px;
  }
  .ft-contact {
    margin: 5px 0 0;
  }
  .ft-contact a {
    display: block;
    margin-top: -5px;
  }
  .ft-social a {
    margin-left: 0;
    margin-right: 7px;
    margin-top: 0;
  }
  .slider-casting .slider-item .slider-img {
    left: 0 !important;
    position: relative;
    width: calc(50% - 5px);
    height: 0;
    transition: 0.5s;
    display: block;
    margin-bottom: 5px;
  }
  .credits {
    padding: 11px 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0px;
    font-size: 10px;
  }
  .credits span {
    grid-column: span 1;
  }
  .credits a {
    font-size: 10px;
  }
}
/*! CSS Used from: Embedded */
.site {
  background-color: #1b1515;
}

input[type=submit] {
  color: #1b1515;
}

body {
  color: #f9f9f9;
  overflow-x: hidden;
  max-width: 1920px;
}

input[type=submit] {
  background-color: #f9f9f9;
}

/*! CSS Used from: http://squad.agency/wp-content/plugins/jetpack/css/jetpack.css?ver=11.3.2 ; media=all */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal !important;
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/*! CSS Used from: Embedded */
img#wpstats {
  display: none;
}

/*! CSS Used from: Embedded */
body.custom-background {
  background-color: #1b1515;
}

/*! CSS Used from: http://squad.agency/wp-content/themes/twentysixteen-child/js/slick/slick.css */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  display: none;
  float: none;
  height: 100%;
  min-height: 1px;
}

#hero-slider > div > div > div.slick-slide {
  float: left !important;
}

#burn-form > div.druk-bold-01.home-section-title {
  text-align: left !important;
}

.slick-initialized .slick-slide {
  display: block;
}

/*! CSS Used fontfaces */
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4m0qyriQwlOrhSvowK_l5-eRZDf-LVrPHpBXw.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4m0qyriQwlOrhSvowK_l5-eRZKf-LVrPHpBXw.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4m0qyriQwlOrhSvowK_l5-eRZBf-LVrPHpBXw.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4m0qyriQwlOrhSvowK_l5-eRZAf-LVrPHpBXw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4m0qyriQwlOrhSvowK_l5-eRZOf-LVrPHp.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR71Wvf1jvzDP3WGO5g.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR71Wvf8jvzDP3WGO5g.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR71Wvf3jvzDP3WGO5g.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR71Wvf2jvzDP3WGO5g.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR71Wvf4jvzDP3WG.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7NWPf1jvzDP3WGO5g.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7NWPf8jvzDP3WGO5g.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7NWPf3jvzDP3WGO5g.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7NWPf2jvzDP3WGO5g.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7NWPf4jvzDP3WG.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-cSZMdeX3rsHo.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-eCZMdeX3rsHo.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-cyZMdeX3rsHo.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-ciZMdeX3rsHo.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-fCZMdeX3rg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52xwNZVcf6hPvhPUWH.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52xwNZXMf6hPvhPUWH.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52xwNZV8f6hPvhPUWH.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52xwNZVsf6hPvhPUWH.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52xwNZWMf6hPvhPQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52_wFZVcf6hPvhPUWH.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52_wFZXMf6hPvhPUWH.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52_wFZV8f6hPvhPUWH.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52_wFZVsf6hPvhPUWH.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52_wFZWMf6hPvhPQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Druk-WideMedium";
  src: url("../fonts/Druk-WideMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Druk-WideMedium.otf") format("opentype"), url("../fonts/Druk-WideMedium.woff") format("woff"), url("../fonts/Druk-WideMedium.ttf") format("truetype"), url("../fonts/Druk-WideMedium.svg#Druk-WideMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Druk-WideMedium";
  src: url("../fonts/Druk-WideMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Druk-WideMedium.otf") format("opentype"), url("../fonts/Druk-WideMedium.woff") format("woff"), url("../fonts/Druk-WideMedium.ttf") format("truetype"), url("../fonts/Druk-WideMedium.svg#Druk-WideMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Druk-Italic";
  src: url("../fonts/Druk-WideMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Druk-WideMediumItalic.otf") format("opentype"), url("../fonts/Druk-WideMediumItalic.woff") format("woff"), url("../fonts/Druk-WideMediumItalic.ttf") format("truetype"), url("../fonts/Druk-WideMediumItalic.svg#Druk-WideMediumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Druk-Italic";
  src: url("../fonts/Druk-WideMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Druk-WideMediumItalic.otf") format("opentype"), url("../fonts/Druk-WideMediumItalic.woff") format("woff"), url("../fonts/Druk-WideMediumItalic.ttf") format("truetype"), url("../fonts/Druk-WideMediumItalic.svg#Druk-WideMediumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Druk-Bold";
  src: url("../fonts/Druk-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Druk-Bold.otf") format("opentype"), url("../fonts/Druk-Bold.woff") format("woff"), url("../fonts/Druk-Bold.ttf") format("truetype"), url("../fonts/Druk-Bold.svg#Druk-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Druk-Bold";
  src: url("../fonts/Druk-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Druk-Bold.otf") format("opentype"), url("../fonts/Druk-Bold.woff") format("woff"), url("../fonts/Druk-Bold.ttf") format("truetype"), url("../fonts/Druk-Bold.svg#Druk-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Druk-BoldItalic";
  src: url("../fonts/Druk-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Druk-BoldItalic.otf") format("opentype"), url("../fonts/Druk-BoldItalic.woff") format("woff"), url("../fonts/Druk-BoldItalic.ttf") format("truetype"), url("../fonts/Druk-BoldItalic.svg#Druk-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Druk-BoldItalic";
  src: url("../fonts/Druk-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Druk-BoldItalic.otf") format("opentype"), url("../fonts/Druk-BoldItalic.woff") format("woff"), url("../fonts/Druk-BoldItalic.ttf") format("truetype"), url("../fonts/Druk-BoldItalic.svg#Druk-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=main.css.map */
